.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header li{
  list-style-type: none;
}

header img {
  width:300px;
}

nav {
  margin-top:-50px;
  margin-bottom:100px;
  margin-left:-25px;
}

nav li{
  display:inline;
  padding:15px;
  margin: 0px 10px;
}

nav li:hover {
  color:#dedede;
  margin-top:20px;
  transition: 0.3s;
  font-size:16px;
  cursor: pointer;
}

.logo {
  margin:0 auto;
}

.wrapper {
  width:95%;
  margin: 0 auto;
  display: flex;
  margin-top:40px;
}

.form-wrapper {
  width:20%;
}

.image-wrapper {
  width:75%;
  display:flex;
  flex-direction: row;
  padding:5px;
  flex-wrap: wrap;
  margin-left:40px;
}

.image-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom:15px;
}

.image-indiv img{
  width: 40vh;
  position:relative;
}

.image-indiv img:hover{
  background:black;
}

.form-wrapper input[type=text]{
  border: 0px;
  border-bottom: 1px solid black;
  width:200px;
  padding:20px;
  color: #c1bfbf;
  font-size:14px;
}


.form-wrapper button {
  padding: 10px;
  border: 1px solid black;
  background:black;
  border-radius:10%;
  color:white;
  font-size:14px;
  margin-top:25px;
}

.form-wrapper button:hover {
  border:1px solid black;
  background:white;
  color:black;
  transition: 0.5s;
}

.image-indiv button {
  padding: 5px 10px;
  border: 1px solid black;
  background:black;
  border-radius:8%;
  color:white;
  font-size:12px;
  margin-top:10px;
  margin-bottom: 20px;
}

.image-indiv button:hover {
  border:1px solid black;
  background:white;
  color:black;
  transition: 0.5s;
}

.image-descrip p {
  font-size: 14px;
  text-decoration: none;
  color:black;
  margin-top:-1px;
  margin-bottom:-1px;
}

.image-descrip a{
  font-size:12px;
  color: #c1bfbf;
  text-decoration: none;
}

.login {
  width:36%;
  margin: 0 auto;
}

.login input[type=text],
.login input[type=password],
.login input[type=email] {
  border:2px solid white;
  border-bottom:.5px solid black;
  width:500px;
  padding:15px;
  margin-bottom:50px;
  text-align: center;
  font-size:14px;
}

.login input[type=submit]{
  padding: 10px;
  border: 2px solid black;
  background:black;
  border-radius:10%;
  color:white;
  font-size:14px;
  margin-top:25px;
  margin-bottom:50px;
}

.login input[type=submit]:hover {
  border:1px solid black;
  background:white;
  color:black;
  transition: 0.5s;
}
