.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav li{
  list-style-type: none;
}


.wrapper {
  width:90%;
  margin: 0 auto;
  display: flex;
  margin-top:40px;
}

.form-wrapper {
  width:30%;
}

.image-wrapper {
  width:55%;
  display:flex;
  flex-direction: row;
  padding:10px;
  flex-wrap: wrap;
}

.image-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom:15px;
}

.image-indiv img{
  width: 40vh;
  position:relative;
}

.image-indiv img:hover{
  background:black;
}

.form-wrapper input[type=text]{
  border: 0px;
  border-bottom: 1px solid black;
  margin-bottom:50px;
  width:250px;
  padding:20px;
  color: #c1bfbf;
  font-size:14px;
}

form {
  width:430px;
  margin-right:50px;
}

.image-descrip p {
  font-size: 14px;
  text-decoration: none;
  color:black;
  margin-top:-1px;
  margin-bottom:-2px;
}

.image-descrip a{
  font-size:12px;
  color: #c1bfbf;
  text-decoration: none;
}
